
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Product</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink='/'>Home</a></li>                        
          <li class="float-right"><a routerLink='login'>Login</a></li>
          <li class="float-right"><a routerLink='register'>Register</a></li>
          <li><a routerLink='productlist'>ProductList</a></li>  
        </ul>
      </div>
    </div>
 </div>
</nav>   
  