
<br><br>

<div *ngIf="toggle">
  <h3>Add Product</h3>
  <form [formGroup]="addForm" (ngSubmit)="onAdd()">
    <div>
      <label for="prdname">Product Name:
      </label>
      <input type="text" formControlName="prdname" id="prdname" />
    </div>
    <div>
      <label for="prdqty">Product Qty.:
      </label>
      <input type="number" formControlName="prdqty" id="prdqty" />
    </div>
    <button class="btn btn-success">Save</button>
  </form>
</div>

<div *ngIf="!toggle">
  <h3>Edit Product</h3>
  <form [formGroup]="editForm" (ngSubmit)="onEdit()">
    <div>
      <label for="prdname">Product Name:
      </label>
      <input type="text" formControlName="prdname" id="prdname"/>
    </div>
    <div>
      <label for="prdqty">Product Qty.:
      </label>
      <input type="number" formControlName="prdqty" id="prdqty" />
    </div>
    <button class="btn btn-success" type="submit">Update</button>
    <button class="btn btn-success" type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2>Product Details</h2>
      <br>
      <button class="btn btn-danger" (click)='onLogout()' >logOff</button>&nbsp;&nbsp;&nbsp;
      <br>
      <br>   
      <table class="table table-stripped table-responsive table-hover">
        <thead>
          <tr>
           
            <th>Product Name</th>
            <th>Product Quantity</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let prod of product' >
            <td>{{prod.prdname}}</td>
            <td>{{prod.prdqty}}</td>
           
            <td>
              <button class="btn btn-danger" (click)='delete(prod.prdname)'>Delete</button>&nbsp;&nbsp;
              <button class="btn btn-warning" (click)='onclickedit(prod)'>Edit</button>&nbsp;&nbsp;
            </td>
          </tr>
          <!-- <tr *ngIf='!todo.length'>
            <th colspan="5"><p class="text-right text-danger">Sorry, Todos to display...!</p></th>
          </tr> -->
        </tbody>
      </table>


    </div>
  </div>

</div>

